<div class="container">
    <p>
        This website was created as a way to easily visualize and compare country demographic information.
    </p>
    <p>
        Country synopses and photos provided by the CIA world factbook (www.cia.gov/library/publications/the-world-factbook/). <br />
        County demographic information provided by The World Bank DataBank (databank.worldbank.org/data/home.aspx) <br />
        Maps and corresponding logic created by jVectorMap (jVectorMap.com) with small modifications.
    </p>
    <p>
        Questions? Concerns? Notice incorrect information? Email twyrick94@gmail.com
    </p>

</div>

