body {
}

.left-section{
    width: 28%;
    margin-left1%;
    margin-right: 1%;
    float: right;
    max-height: 600px;
    overflow-y: auto;
}
#map1{
    width: 70%;
    height: 600px;
    float: left;
}
#form-container{
    width: 190px;
    margin-left: 10px;
}

